<a href="https://colab.research.google.com/github/rfinn/computational_physics/blob/main/01_Lab01_review_of_notebook_and_python_basics_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 1: Python Review

The goal of this notebook is to help you review some of the basics of python.

Specifically, you will review

* python syntax
* markdown
* formatted printing
* loops
* conditionals
* functions
* basic plotting

# References That You Used

List any references that you used here.  You can just paste in urls for online resources.

* my reference 1
* my reference 2


# Fixer-upper

Fix the code in the cells below...it's all broken!

(1 point each)

In [ ]:
myage = 52 # Or fill in your age here

Print("My age is {0}".format(myage))

In [ ]:
song = "Believer"
artist = "Imagine Dragons"

Print f"{song} is sung by \n\t {artist}"

In [ ]:
from math import factorial

factorial 4

In [ ]:
angle = pi/4.0

from math import pi,cos

print(cos(angle))

After you fix the above cell, try restarting the kernel (**Runtime --> Restart runtime...**) and re-running the cell to make sure it works.

# Markdown
(1 point each)

1. Write out some text in bold, italics, and both.

1. Make a bullet list.

1. Write out some (3 or more) kinematic equations from Gen Phys I using LaTeX. You can reference a more complete list of
symbols [here](https://artofproblemsolving.com/wiki/index.php/LaTeX:Symbols).

# Formatted Printing
(1 point each)

* We can use formatted print statements to print out variables.
* We will often want to print the results of a calculation, but we don't want to print out a million digits.  We can use formatted print statements to limit the precision of the numbers that we print.
* See this link for more details https://docs.python.org/3/tutorial/inputoutput.html

In [ ]:
myratio = 10/3
print(myratio)

In [ ]:
# formatted print statement, we can reference the variable in brackets {}
print(f"my ratio = {myratio}")

In [ ]:
# we can limit the number of decimal places that it prints
# in the statement below, I ask python to print the first two digits after the decimal point
print(f"my ratio = {myratio:.2f}")

In [ ]:
# print pi to 5 decimal places

# Lists

These exercises will allow you to test your understanding of Python lists.

(1 point each)

In [ ]:
fib = [1,2,3,5,8,13,21,34,55,84]

In [ ]:
# Print the second entry in the list fib.

In [ ]:
# Print the 8th entry in the list fib.

In [ ]:
# How many entries are there in the fib list?

In [ ]:
# How would you reference (using the proper index) the number 13 in the fib list?

In [ ]:
words = ['Once upon a ','midnight dreary ','while I pondered ','weak and weary']

In [ ]:
# How many entries are there in the words list?

In [ ]:
# Print the 3rd entry in the words list?

In [ ]:
# How many characters are there in the 3rd entry in the words list?

In [ ]:
# Make an empty list and use the append function to add to it the following numbers.
# 16
# 25
# 121
# 169
# 225

In [ ]:
# Make a list of two lists. Add to the first ``sub" list the following words
# 'One'
# 'Two'
# 'Three'
#  and add to the second list
# 1
# 2
# 3

In [ ]:
# Print out the entry with 'Two'

In [ ]:
# Print out the entry with 3

# Loops

These exercises will allow you to test your understanding of loops in Python.

(2 points each)

In [ ]:
# Use a while loop to print out the even numbers from 0-10 (inclusive)

In [ ]:
# Use a for loop with the range function to print out the even numbers from 0-10 (inclusive)

In [ ]:
# Use a for loop to add up the multiples of 3 that are less than 100.

In [ ]:
# Use a while loop to add up the multiples of 3 (starting at 0), while the total is less than 100.

In [ ]:
fib = [1,2,3,5,8,13,21,34,55,84]

# Loop over this list and print out the entries 2 ways:
# * Just iterating over each entry in the list
# * Using "range" and referencing the entries by index

In [ ]:
# Put all the entries in the following list into a single string and print that string, using a for loop.
words = ['Once upon a ','midnight dreary ','while I pondered ','weak and weary']

In [ ]:
# Fill a list with the first 1000 multiples of 13 (starting with 13). Verify your work by checking the length of the
# list.

# Conditionals

These exercises will allow you to test your understanding of conditional statments in Python.

(2 points each)

In [ ]:
# Test to see what is larger (without printing the answers to the
# multiplication to the screen)
#
# 25*32
# or
# 17*49
#
# Print which product is larger to the screen.

In [ ]:
# Test whether or not 18/2 is the same as 36/4

In [ ]:
# Test whether or not 18/2 is the same as 36.0/4.0

In [ ]:
# Test whether or not 1/2 is the same as 1.0/2.0

In [ ]:
# Are these two strings equal? If not write some code to figure out what is different.
x = "00000000000000000000000000000000000000000000000000"
y = "00000000000000000000000000000000000000000000O00000"

# Functions

Write a function called ```feet2miles``` that takes in 1 argument, ```feet``` and returns the equivalent number of miles. Set the default value of feet to be 100.

For reference, there are 5280 feet in a mile.

(5 points)

In [ ]:
# Your code here




# This part is for testing the above.

m = feet2miles(5280)
print(m) # Should be 1

m = feet2miles(1)
print(m)

m = feet2miles(1000)
print(m)

In [ ]:
# Make an array of values in feet, ranging from 1000 to 20000, in steps of 1000
# using the np.arange function
myfeet =

# Use your feet2miles function to create a second array,
# which is the equivalent of myfeet but is instead mymiles
# this should be only one line of code!

# Plotting

## Kinematics

(5 points)

Suppose you are standing on a cliff 50 meters high. You throw a ball almost straight up with a velocity of 15 m/s. It misses the edge of the cliff on the way down so it will continue all the way to the ground below.

Neglecting air resistance, solve for the height, velocity, and acceleration of the ball as a function of time.  Write your solution on a whiteboard and check your results with your instructor.

Once you have your solution approved, write the functions that you determined here.  Be sure to use the latex/markup features to display the equations in a nice format.   (2 points)

**YOUR EQUATIONS GO HERE**

Then make some plots of the (6 points)

* Acceleration vs. time
* Velocity vs. time
* Position vs. time

Make these plots for the time period when it is thrown in the air until it lands on the ground below.

In [ ]:
# Your code here

## Make a plot of $sin(\theta)$ and $cos(\theta)$

(5 points)

* make a plot of $sin(\theta)$ and $cos(\theta)$ as a function of theta, $\theta$.
* theta should be in radians, with theta ranging from $0 \le \theta \le 2\pi$. (Hint: use np.linspace to create the theta array, with 100 elements.)
* make a plot with 1 column and two rows, and plot sin in the top row and cosine in the bottom row.  You can use plt.subplot to make multi-panel plots.

```
plt.subplot(2,1,1)
```
* NOTE: for this exercise, you should use the trig functions from numpy, e.g. np.sin and np.cos.

(4 points)

In [ ]:
# Your code here